.game {
  @include glassmorphism;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  cursor: default;
  &--status {
    margin: 5rem 0 0 5rem;
    &-head {
      color: $theme-color;
      font-size: 2rem;
    }
    &-timer {
      &-red {
        color: red;
        font-size: 1.2rem;
        margin-top: 0.3rem;
        transition: all 2s ease-in-out;
        animation-name: grow;
        animation-duration: 900ms;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
      }
      &-yellow {
        color: yellow;
        font-size: 1.2rem;
        margin-top: 0.3rem;
        transition: all 2s ease-in-out;
        animation-name: grow;
        animation-duration: 900ms;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
      }
      &-normal {
        font-size: 1.2rem;
        margin-top: 0.3rem;
      }
    }
    &-budget {
      font-size: 1.5rem;
    }
  }
  &--bidding {
    margin: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-btn {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &-1 {
        margin-right: 5rem;
        cursor: pointer;
      }
      &-2 {
        cursor: pointer;
      }
    }
  }
  &--players {
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem 0 0;
    &-head {
      color: $theme-color;
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    &-in {
      @include glassmorphism;
      margin-bottom: 3rem;
      width: auto;
      &-a {
        color: $theme-color;
      }
    }
  }
}
