.playerCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: auto;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    @include glassmorphism;
    border: none;
    background-color: $background-color-tertiary;

    &-image {
        position: relative;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;

        h2{
            display: block;
            margin: 0rem 0 0 0;
        }

        &::before{
            position: absolute;
            content: '';
            width: 1%;
            height: 60%;
            top: 50%;
            left: 95%;
            right: 0;
            bottom: 0;
            background-color: $theme-color;
            transform: translate(0, -50%);
        }
    }


    &-info {
        height: 55%;

        &-role{
            margin: 1rem;
        }

        &-stats{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            height: auto;
        }

        &-stat-container{

            span{
                margin-right: .5rem;
            }
            display: inline-block;
            width: 20%;
            height: 1rem;
            margin: 1rem;
        }
    }

}