$background-color-main : hsla(267, 15%, 12%, 0.247);
$background-color-tertiary: hsla(0, 0%, 96%, .1);
$background-color-secondary : #171717;
$font-color-main : whitesmoke;
$theme-color: #3282b8;
$hover-color: wheat;

$max-width: 800px;
$min-width: 650px;