//Colors
$background-color-main: hsla(267, 15%, 12%, 0.247);
$background-color-tertiary: hsla(0, 0%, 96%, 0.1);
$background-color-secondary: #171717;
$font-color-main: whitesmoke;
$theme-color: #3282b8;
$theme-color2: #0f4c75;
$theme-color3: #bbe1fa;
$hover-color: wheat;
$red: #d70040;
$yellow: #e4d00a;
$max-width: 1000px;
$min-width: 650px;
